@import "../commons.less";

.home {
    .column-left {
        float: left;
        padding: 10px;
        margin-right: 10px;

        .menu {
            .box
        }
    }

    .column-middle {
        float: left;
        width: 90%;
        padding: 10px;

        .content-middle {
            min-height: 500px;
            background: white;
            padding: 15px;

            &.overview {
                .color {
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                }
            }
        }
    }
}
