@()

<script id="feeds_past_tmpl" type="text/html">
  <div class="feeds past">
    <div class="more-feeds">
      <a href="#"><span class="counter"></span> more logs...</a>
    </div>
    <ul class="feeds"></ul>
  </div>
</script>

<script id="feeds_present_tmpl" type="text/html">
  <div class="feeds present">
    <div class="waiting-feeds">Waiting feeds ...</div>
    <ul>
    </ul>
  </div>
</script>

<script id="feed_tmpl" type="text/html">
  <li id="<%= feed.id %>" data-project="<%= feed.project.name %>" class="feed <%= feed.level %>">
    <div class="avatar">
      <img src="<%= feed.avatar %>" width="50px" height="50px" alt="<%= feed.realName %>"/>
    </div>
    <div class="log">
      <div class="header">
        <a class="project" href="#dashboard/past/<%= feed.project.name %>"><%= feed.realName %></a>
        <span class="time"><%=feed.time %></span>
      </div>
      <div class="content">
        <span class="level"><%= feed.level %></span>
        <span class="message"><%= feed.message %></span>
      </div>
      <ul class="comments">
        <% feed.comments.forEach(function(comment) { %>
           <%= commentView(comment) %>
        <% }); %>
      </ul>
      <div class="footer">
        <a class="comment" href="#">Comment</a> |
        <a class="share" href="#">Share</a> |
        <a class="bookmark" href="#">Bookmark</a> |
        <a class="related" href="#">Related</a>
      </div>
  </li>
</script>

<script id="feed_present_tmpl" type="text/html">
  <li id="<%= feed.id %>" data-project="<%= feed.project.name %>" class="feed <%= feed.level %>">
    <div class="avatar">
      <img src="<%= feed.avatar %>" width="50px" height="50px" alt="<%= feed.realName %>"/>
    </div>
    <div class="log">
      <div class="header">
        <a class="project" href="#past/<%= feed.project.name %>"><%= feed.realName %></a>
        <span class="time"><%=feed.time %></span>
      </div>
      <div class="content">
        <span class="level"><%= feed.level %></span>
        <span class="message"><%= feed.message %></span>
      </div>
  </li>
</script>


<!-- Comments -->

<script id="new_comment_tmpl" type="text/html">
  <li class="new comment">
    <div class="avatar">
      <img src="<%= author.avatar %>" width="40px" height="40px" alt="play story"/>
    </div>
    <div class="body">
      <div class="header">
        <a href="#" class="author"><%= author.firstname %> <%= author.lastname %></a>
      </div>
      <div class="message">
        <textarea placeholder="Write a comment..."></textarea>
        <button class="save">Comment</button>
      </div>
    </div>
  </li>
</script>

<script id="comment_tmpl" type="text/html">
  <li class="comment">
    <div class="avatar">
      <img src="<%= author.avatar %>" width="40px" height="40px" alt="play story"/>
    </div>
    <div class="body">
      <div class="header">
        <a href="#" class="author"><%= author.firstname %> <%= author.lastname %></a>
      </div>
      <div class="message"><%= message %></div>
    </div>
  </li>
</script>
