@import "../variables.less";

.box {
    border: 1px dotted @redPlay;
    background: url('/assets/images/commons/stripes.png');
    color: @blackPlay;
    text-align: center;

    h3 {
        border-bottom: grey solid 1px;
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: capitalize;
    }

    ul {
        margin: 0;
        li {
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 4px;
            padding-bottom: 5px;
            a {
                color: @blueEmacs;
            }
        }
    }
}

.column-left {
    float: left;
    margin-right: 50px;
    background: white;

    .inbox {
        .box
    }
}

.column-middle {
    float: left;

    ul.tabs {
        margin: 0;
        overflow: hidden;
        li {
            text-align: center;
            width: 75px;
            background: url('/assets/images/commons/stripes.png');
            color: @blackPlay;
            border: 1px solid white;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            float: left;

            &:first-child {
                border-bottom-left-radius: 3px;
            }

            &:last-child {
                border-bottom-right-radius: 3px;
            }

            &.on {
                background: @orangePlay;
                a {
                    color: white;
                }
            }
        }
    }

    .feeds {
        width: 700px;

        .top-feeds {
            margin-top: 15px;
            background: white;
            color: @blackPlay;
            text-align: center;
            padding: 7px;
            border-top: solid 1px @greyLightPlay;
            border-bottom: solid 1px @greyLightPlay;
        }


        &.past {
            .more-feeds {
                display: none;
                .top-feeds;
                .counter {
                }
            }
        }

        &.present {
            display: none;

            .waiting-feeds {
                .top-feeds
            }
        }

        .feed {
            margin-top: 15px;
            background: white;
            padding: 15px;
            border-radius: 2px;
            box-shadow: 4px 4px 5px #888;
            overflow: hidden;
            -webkit-transition: opacity 2s ease 1s;

            div.avatar {
                float: left;
                img {
                    border-radius: 5px;
                }     
            }
            
            div.log {
                padding-left: 8px;
                float: left;
                width: 600px;

                .message {
                    color: #353635;
                }

                .header {
                    overflow: hidden;
                    border-bottom: 1px solid @greyLightIPlay;
                    padding-bottom: 2px;

                    .project {
                        display: block;
                        color: @blackPlay;
                        font-weight: bold;
                        float: left;
                    }

                    .time {
                        float: right;
                        color: @blueEmacs;
                        font-size: 0.7em;
                    }
                }

                .content {
                    padding-top: 8px;
                    .level {
                        color: @redPlay;
                    }
                }

                .footer {
                    margin-top: 12px;

                    a {
                        color: @blueEmacs;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}

.column-right {
    float: left;
    margin-left: 50px;
    background: white;

    .apps {
        .box;

        li {
            a {
                text-transform: uppercase;
            }
        }
    }
}
