html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans;
    background: #EEEEEE;
    -moz-user-select: none;
}
a {
    outline: none;
}
.block {
    padding: 20px;
    border-bottom: 1px solid #aaa;
}
#header {
    position: fixed;
    height: 60px;
    width: 100%;
}
#header h1 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}
#header {
    background: #a4c4f3;
}
#header p {
    color: #333;
}
#cmds {
    background: #f6f6f6;
    position: fixed;
    height: 20px;
    width: 100%;
    top: 100px;
}
label {
    font-weight: bold;
    display: block;
}
.field {
    margin-bottom: 15px;
}
small {
    color: #888;
    font-size: 80%;
    position: relative;
    top: -3px;
}
#logs {
    padding-top: 165px;
}
#logs h2 {
    color: #333;
    font-weight: normal;
    border-left: 4px solid #ccc; 
    padding-left: 5px;  
    -moz-user-select: none;
}
#logs h2 span {
    cursor: pointer;   
}
.log a {
    background: #fafafa;
    padding: 3px 6px;
    color: #666;   
    font-weight: bold;
    text-decoration: none;   
    cursor: pointer;  
    -moz-user-select: none;
}
.selected a {
    background: #fff2ab;
    color: #333;
}
#bms, #quickLinks {
    color: #888;
    font-size: 80%;
}
#start {
    float: left;
    background: #70c111;
    color: #fff;
    font-size: 120%;
    border: 1px double #70c111;
    cursor: pointer;
    padding: 3px 8px;
    -moz-user-select: none;
}
#stop {
    float: left;
    background: #c00;
    color: #fff;
    font-size: 120%;
    border: 1px double #c00;
    cursor: pointer;
    padding: 3px 8px;
    -moz-user-select: none;
}

#clear {
    float: left;
    margin-left: 10px;
    background: #262626;
    color: #fff;
    font-size: 120%;
    border: 1px double #262626;
    cursor: pointer;
    padding: 3px 8px;
    -moz-user-select: none;
}

#start.disabled {
    background: #b7d2aa;
    cursor: default;
}
#cmds {
    font-size: 110%;
    color: #999;
}

.onreceived {
    position: fixed;
    background: green;
    height: 3px;
    width: 100%;
    top: 100px;
    z-index: 100;
    -moz-box-shadow: 0 -1px 7px #D4D4D4;
    -webkit-box-shadow: 10px 10px 10px #D4D4D4;
}

#started {
    display: none;
    float: left;
}
.running #started {
    display: block;
}
.running #stopped {
    display: none;
}
.running #tests h2 span {
    cursor: default;
}
.running .test {
    cursor: default;
}
.passed a, #header.passed {
    background: #81CF5A !important;
}
.failed a, #header.failed {
    background: #EF6868 !important;
}
.passing a {
    background: #95D7EF;
}
.passed .touch {
    color: #81CF5A !important;
}
.failed .touch {
    color: #EF6868 !important;
}
.touch {
    color: #bbb;
    padding: 2px 10px 2px 5px;
    cursor: default;
    font-family: monospace;
    font-size: 110%;
    font-weight: bold;
}
.failed .touch, .passed .touch {
    cursor: pointer;
}
#loading {
    background: #c00;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 5px;
    font-size: 80%;
    display: none;
}

/***** Me *****/

ul {
    list-style: none;
    margin-bottom: 40px;
    padding: 0px;
    padding-left: 20px;
}

#logs li.log {
    display: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px grey;
    border-radius: 10px;
    border-style: solid groove;
    padding: 5px;
    min-height: 33px;
    background-color: white;
    word-wrap: break-word;
    overflow: auto;
}

#logs li.log div.name {
    float: left;
    border: 1px solid grey;
    border-right: 25px;
    padding-right: 10px;
    min-height: 25px;
    background-color: #BEE796 !important;
    border-radius: 9px;
    padding-top: 8px;
    text-align: center;
}

#logs li.log div.value {
    float: left;
    width: 99%;
    margin-left: 10px;
    padding-top: 8px;
}

#logs li.log.found {
    box-shadow: 0px 0px 10px #0079C2;
    border-color: #0079C2;
}

#logs li.log.variable {
}

#narrow {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#narrow input[type="text"] {
    width: 275px;
    height: 25px;
    border-radius: 5px;
    font-size: 1.2em;
    color: #77787D;
}