<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="logit" class="com.zenexity.logit.appender.LogbackAppender">
    <layout class="com.zenexity.logit.layout.LogbackLayout"></layout>
    <project>onconnect</project>
    <server>http://127.0.0.1:9005</server>
  </appender>

  <root level="INFO">
    <appender-ref ref="console" />
    <appender-ref ref="logit" />
  </root>

  <logger name="com.ning" level="ERROR">
    <appender-ref ref="console" />
  </logger>

  <logger name="logger.play" level="DEBUG">
    <appender-ref ref="console" />
    <appender-ref ref="logit" />
  </logger>

  <logger name="logger.controller" level="DEBUG">
    <appender-ref ref="logit" />
  </logger>
</configuration>