@()

<script id="feed_tmpl" type="text/html">
  <li id="<%= feed.id %>" data-project="<%= feed.project %>" class="feed <%= feed.level %>">
    <div class="avatar">
      <img src="/assets/images/commons/avatar.png" width="50px" height="50px" alt="<%= feed.realName %>"/>
    </div>
    <div class="log">
      <div class="header">
        <a class="project" href="#past/<%=feed.project%>"><%= feed.realName %></a>
        <span class="time"><%=feed.time %></span>
      </div>
      <div class="content">
        <span class="level"><%= feed.level %></span>
        <span class="message"><%= feed.message %></span>
      </div>
      <ul class="comments">
        <% feed.comments.forEach(function(comment) { %>
        <li class="comment">
          <div class="avatar">
            <img src="/assets/images/commons/avatar.png" width="30px" height="30px" />
          </div>
          <p><%= comment.message %></p>
        </li>
        <% }); %>
      </ul>
      <div class="footer">
        <a class="comment" href="#">Comment</a> |
        <a class="share" href="#">Share</a> |
        <a class="bookmark" href="#">Bookmark</a> |
        <a class="related" href="#">Related</a>
      </div>
  </li>
</script>
