@(user: models.User)

@import play.api.libs.json._
@import play.api.libs.json.Json._

@main("Play Story > Home", user) {

<section class="column-left">
</section>

<section class="column-middle">
</section>

<section class="column-right">
</section>

}{
<!-- Home CSS imports -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/story/home.css")">
}{
<!-- Home javascript templates -->
@dashboard.feeds()
@dashboard.tabs()
@dashboard.apps()
@dashboard.inbox()
@dashboard.comment()
<!-- Home javascript imports -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/utils.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/namespace.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Router.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/ModelsDef.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Bucket.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Server.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/home/search/searchDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/tabs/TabsDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/inbox/inboxDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/apps/appsDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsPresentDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsPastDOM.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/home/search/searchView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/tabs/TabsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/inbox/inboxView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/apps/appsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/home.js")"></script>

<!-- Init Home page -->
<script type="text/javascript">
$(document).ready(function() {
    var user = @Html(toJson(user).toString);
    PlayStory.Server.fromTemplate('user', user);
});
</script>
}
