@(user: models.User)

@import play.api.libs.json._
@import play.api.libs.json.Json._

@main("Play Story > Home", user) {

<section class="column-left">
  <div class="inbox">
    <h3>INBOX</h3>
    <ul>
      <li><a href="#past/all">ALL</a></li>
      <li><a href="#starred">STARRED (99)</a></li>
      <li><hr/></li>
      <li class="DEBUG"><a href="#past/debug">DEBUG <span></span></a></li>
      <li class="ERROR"><a href="#past/error">ERROR <span></span></a></li>
      <li class="FATAL"><a href="#past/fatal">FATAL <span></span></a></li>
      <li class="INFO"><a href="#past/info">INFO   <span></span></a></li>
      <li class="TRACE"><a href="#past/trace">TRACE <span></span></a></li>
      <li class="WARN"><a href="#past/warn">WARN   <span></span></a></li>
    </ul>
  </div>
</section>

<section class="column-middle">
  <ul class="tabs">
    <li class="past on"><a href="#past/all">PAST</a></li>
    <li class="present"><a href="#present/all">PRESENT</a></li>
  </ul>
  <div class="feeds present">
    <div class="waiting-feeds">Waiting feeds ...</div>
    <ul>
    </ul>
  </div>
  <div class="feeds past">
    <div class="more-feeds">
      <a href="#"><span class="counter"></span> more logs...</a>
    </div>
    <ul>
    </ul>
</section>

<section class="column-right">
  <div class="apps">
    <h3>APPS</h3>
    <ul>
      <li><a href="#">CREATE</a></li>
      <li><a href="#">DISCOVER</a></li>
      <li><hr/></li>
      <li><a href="#past/all">ALL</a></li>
      @user.projects.map { project =>
      <li><a href="#past/@project.name">@project.realName</a></li>
      }
    </ul>
  </div>
</section>

}{
<!-- Home CSS imports -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/story/home.css")">
}{
<!-- Home javascript templates -->
@feeds()
@comment()
<!-- Home javascript imports -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/Router.js")"></script>
<!-- Tabs -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/tabs/TabsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/tabs/TabsDOM.js")"></script>
<!-- Feeds -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/inbox/inboxView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/inbox/inboxDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsServer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsPresentDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsPastDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsModel.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/feeds/feedsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/home/home.js")"></script>

<!-- Init Home page -->
<script type="text/javascript">
$(document).ready(function() {
    var user = @Html(toJson(user).toString);
    PlayStory.Home.FeedsView.server.fromTemplate('user', user);
});
</script>
}
