@()
<!-- -->
<script id="discover_tmpl" type="text/html">
  <div class="content-middle discover">
    <fieldset>
      <legend>Create a project</legend>
      <form name="create_project">
        <label for="name">Name</label>
        <input type="text" name="name" />
        <label for="name">Real name</label>
        <input type="text" name="real_name" />
        <button>Create</button>
      </form>
    </fieldset>
  </div>
</script>

<script id="discover_project_tmpl" type="text/html">
  <fieldset>
    <legend>Projects</legend>
    <ul class="projects">
      <% projects.forEach(function(project) { %>
        <li>
          <%= project.name %>
          -
          <% if (project.isFollowed) { %>
            <a href='#' data-follow-project='<%= project.name %>' data-follow-action='unfollow' class='follow-link'>Unfollow</a>
          <% } else { %>
            <a href='#' data-follow-project='<%= project.name %>' data-follow-action='follow' class='follow-link'>Follow</a>
          <% } %>
        </li>
      <% }); %>
    </ul>
  </fieldset>
</script>

<script id="discover_add_project_tmpl" type="text/html">
  <li>
    <%= project.name %>
    <a href='#' data-follow-project='<%= project.name %>' data-follow-action='follow' class='follow-link'>Follow</a>
  </li>
</script>
