@()
<!-- -->
<script id="discover_tmpl" type="text/html">
  <div class="content-middle discover">
    <fieldset>
      <legend>Create a project</legend>
      <form name="create_project">
        <label for="name">Name</label>
        <input type="text" name="name" />
        <label for="name">Real name</label>
        <input type="text" name="real_name" />
        <button>Create</button>
      </form>
    </fieldset>
  </div>
</script>

<script id="discover_project_tmpl" type="text/html">
  <fieldset>
    <legend>Projects</legend>
    <ul class="projects">
      <% projects.forEach(function(project) { %>
        <li><%= project.name %></li>
      <% }); %>
    </ul>
  </fieldset>
</script>
