@()

@main("Play Story > Home") {
<section class="column-left">
  <div class="menu">
    <ul>
      <li><a href="#overview">Overview</a></li>
      <li><a href="#discover">Discover</a></li>
      <li><a href="#profil">Profil</a></li>
    </ul>
  </div>
</section>

<section class="column-middle">
  <div class="mainstream">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis venenatis dolor eget rutrum. Proin in risus sit amet quam rutrum pellentesque. Nulla vel lacus eget magna faucibus elementum non in lectus. Pellentesque vel sem in tortor pellentesque condimentum at in nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida tristique justo, et condimentum sem mollis a. Morbi in semper metus. Fusce sit amet convallis dolor. Cras auctor fermentum eros, in malesuada tortor porttitor eget. Aenean eu leo sed velit feugiat semper sed ultrices augue. Aenean at leo magna. In sed laoreet nisl. Cras ante quam, vehicula sit amet varius id, egestas tincidunt justo. Cras non magna orci, id ornare metus.
  </div>
</section>
}{
<!-- CSS imports -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home/home.css")">
}{
<!-- Javascript templates -->
}
