@(user: User, dashboardData: DashboardData)(implicit request: RequestHeader)

@import play.api.libs.json._
@import play.api.libs.json.Json._
@import helper.javascriptRouter

@main("Play Story > Home", user) {

}{
<!-- CSS imports -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home/home.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard/dashboard.css")">
}{
<!-- Javascript templates -->
@dashboard.layout()
@dashboard.search()
@dashboard.feeds()
@dashboard.tabs()
@dashboard.apps()
@dashboard.inbox()

@home.layout()
@home.menu()
@home.overview()
@home.discover()

<!-- Play Javascript routers -->
@javascriptRouter("PlayRoutes")(
  routes.javascript.Home.summary,
  routes.javascript.Home.createProject,
  routes.javascript.Home.allProjects,
  routes.javascript.Home.follow,
  routes.javascript.Home.unfollow,
  routes.javascript.Dashboard.listen,
  routes.javascript.Dashboard.last,
  routes.javascript.Dashboard.byLevel,
  routes.javascript.Dashboard.bookmarks,
  routes.javascript.Dashboard.bookmark,
  routes.javascript.Dashboard.withContext,
  routes.javascript.Dashboard.comment,
  routes.javascript.Dashboard.more,
  routes.javascript.Dashboard.inbox
)

<script type="text/javascript" src="@routes.Assets.at("javascripts/utils.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/namespace.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Router.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Bucket.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/ModelsDef.js")"></script>

<!-- Home -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/Server.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/home.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/layout.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/menu/menuDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/menu/menuView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/discover/discoverDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/discover/discoverView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/overview/overviewDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/home/overview/overviewView.js")"></script>

<!-- Dashboard -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/Server.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/search/searchDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/tabs/TabsDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/inbox/inboxDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/apps/appsDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/feeds/feedsPresentDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/feeds/feedsPastDOM.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/search/searchView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/tabs/TabsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/inbox/inboxView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/apps/appsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/feeds/feedsView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/layout.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/dashboard/dashboard.js")"></script>

<!-- App -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/playstory/playstory.js")"></script>

<script type="text/javascript">
$(document).ready(function() {
    var server = PlayStory.Home.Server;
    server.fromTemplate('projects', @Html(dashboardData.projectsJson));
    server.fromTemplate('user', @Html(dashboardData.userJson));
});
</script>
}
