@(title: String, user: models.User)(content: Html)(css: Html)(scripts: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
        @css
        <!-- Javascript libs -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/procrastination.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/http-jquery.procrastination.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/underscore-1.3.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/d3.v2.js")"></script>
    </head>
    <body>
      <header>
        <div class="profil">
          <h1>Play Story</h1>
          <div class="signout">
            <a href="#">@user.fullName</a>
          </div>
        </div>
        <div class="gap">
        </div>
      </header>
      <section class="content">
        @content
      </section>
      <footer>
        <p>
          <span>Zenexity - <a href="http://github/srenault">http://github/srenault</a></span>
        </p>
      </footer>
      @scripts
    </body>
</html>
