@()

<script id="inbox_tmpl" type="text/html">
  <div class="inbox">
    <h3>INBOX</h3>
    <ul class="mainstream">
      <li><a href="#bookmarks">STARRED <span></span></a></li>
    </ul>
    <ul class="levels">
      <li><hr/></li>
      <li class="all"><a href="#all">ALL</a></li>
      <li class="debug"><a href="#dashboard/past/debug">DEBUG<span></span></a></li>
      <li class="error"><a href="#dashboard/past/error">ERROR<span></span></a></li>
      <li class="fatal"><a href="#dashboard/past/fatal">FATAL<span></span></a></li>
      <li class="info"><a href="#dashboard/past/info">INFO<span></span></a></li>
      <li class="trace"><a href="#dashboard/past/trace">TRACE<span></span></a></li>
      <li class="warn"><a href="#dashboard/past/warn">WARN<span></span></a></li>
    </ul>
  </div>
</script>
