@()
<!DOCTYPE html>
<html>
    <head>
        <title>Play Story > Sign in</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signin/layout.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signin/signin.css")">
        <!-- Javascript libs -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/libs/procrastination.js")"></script>
    </head>
    <body>
      <header>
        <h1>Play Story</h1>
      </header>

      <section class="content">
        <div class="signin">
          <a href="@controllers.routes.Application.signin">Sign in</a>
        </div>
      </section>

      <footer>
        <p>
          <span>Zenexity - <a href="http://github/srenault">http://github/srenault</a></span>
        </p>
      </footer>
    </body>
</html>
