@(project: String, contacts: Seq[models.Contact])

@main("Play Story > Sign in") {

<div id="header" class="block">
  <p><strong>To listen stories from your app</strong>, click [Start] and enjoy</p>
  <div id="loading">waiting ...</div>
</div>
<div id="cmds" class="block">
  <div id="stopped">
    <span id="start">Start !</span>
  </div>
  <div id="started">
    <span id="stop">Stop...</span>
    <span id="clear">Clear</span>
  </div>
  <div id="narrow">
    <form>
      <input id="keywords" type="text" />
      <span>filter</span>
      <input type="checkbox" />
    </form>
  </div>
  <ul class="tab">
    <li id="tab_live">Live</li>
    <li id="tab_past">Past</li>
  </ul>
</div>
<div style="display: none;">
  @contacts.map { contact =>
  <li><span>@contact.title</span><span>@contact.email</span></li>
  }
</div>
<div id="logs_live" class="block">
  <ul>
  </ul>
</div>
<div id="logs_past" class="block">
  <ul>
  </ul>
</div>
<iframe id="stream" src="#" style="display: none;"></iframe>
}{
    <!--Story CSS imports -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/story.css")">
}{
    <!--Story javascript imports -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/story.js")"></script>
}
